<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="https://github.com/YoFoon">我的github</a></h3></li>
  <li><h3><a href="http://weibo.com/2048202647/profile?rightmod=1&wvr=6&mod=personinfo">我的微博</a></h3></li>
</ul>
<%- include footer %>